@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --gray-0: #FFF;
  --gray-1: #FAFBFC;
  --gray-2: #DCE1E6;
  --gray-3: #D3D9DE;
  --gray-4: #DAE2EA;

  --blue-1: #5181b8;

  --gray-placeholder: #828282;
  --lightgray-placeholder: #AFAFAF;
  --background-color: #EDEEF0;
  --tint-color: #F0F2F5;

  --text-secondary: #99A2AD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}


body {
  font-family: -apple-system, Inter, 'Roboto VK', sans-serif;
  font-size: 13px;
}
