@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --gray-0: #fff;
  --gray-1: #fafbfc;
  --gray-2: #dce1e6;
  --gray-3: #d3d9de;
  --gray-4: #dae2ea;

  --blue-1: #5181b8;

  --text-primary: #000000;
  --text-secondary: #99a2ad;

  --gray-placeholder: #828282;
  --lightgray-placeholder: #afafaf;
  --background-color: #edeef0;
  --tint-color: #f0f2f5;

  /* Icons (взято из vk.com) */
  --remove-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20width%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m6.4%205%203.3-3.3c.4-.4.4-1%200-1.4s-1-.4-1.4%200l-3.3%203.3-3.3-3.3c-.4-.4-1-.4-1.4%200s-.4%201%200%201.4l3.3%203.3-3.3%203.3c-.4.4-.4%201%200%201.4.2.2.4.3.7.3s.5-.1.7-.3l3.3-3.3%203.3%203.3c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1%200-1.4z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);

  /* Screen sizes */
  --screen-size-s: 470px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

body {
  font-family: -apple-system, Inter, "Roboto VK", sans-serif;
  font-size: 13px;
  color: var(--text-primary);
}

body[scheme="dark"] {
  --gray-0: #232324;
  --gray-1: #232324;
  --gray-2: #ffffff1f;
  --gray-3: #96989a;
  --gray-4: #575757;

  --blue-1: #5181b8;

  --text-primary: #ffffff;
  --text-secondary: #99a2ad;

  --gray-placeholder: #828282;
  --lightgray-placeholder: #afafaf;
  --background-color: #19191a;
  --tint-color: #2a2a2a;
}
